* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    font-family: arial, sans-serif;
    background-color: rgb(240, 240, 240)
}

form {
    width: 50%;
    /*    margin: 0 auto;*/
    padding: 10px;
    background-color: dimgrey;
}

label {
    display: block;
    margin: 5px 0;
}

input,
select {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border: 0;
}

input[type="radio"],
input[name="agreement"],
input[type="checkbox"] {
    display: inline;
    width: auto;
    height: 10px;
}

label[for="female"],
label[for="male"],
label[for="agreement"] {
    display: inline;
    width: auto;
    margin: 20px 0;
}

textarea {
    width: 50%;
    height: 100px;
    margin: 10px 0;
    background-color: rgb(240, 240, 240);
}

input[type="submit"] {
    width: 60px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #333;
    color: white;
}
